In [4]:
name :str = "Hamza"
print(name)
print(name)
print(type("hamza"))

Hamza
Hamza
<class 'str'>

In [7]:
number:int = "abcd1234"
print(number)
print(type(number))

abcd1234
<class 'str'>

# Update Variable

In [11]:
abc :str = "hi how are you?"
print(abc)
abc = "hello"
print(abc)

hi how are you?
hello

# List
- ordered
- indexed
> - positive
> - Negative

In [12]:
collection :list[str] = ["hamza", "ali", "ahmed", "hamza"]
print(collection)
print(type(collection))

['hamza', 'ali', 'ahmed', 'hamza']
<class 'list'>

In [16]:
collection :list[str] = ["hamza", "ali", "ahmed", "hamza"]
#                         0       1       2        3
#                         -4      -3      -2      -1
print(collection[0])
print(collection[1])
print(collection[-1])
print(collection[-3])

hamza
ali
hamza
ali

# comments

In [23]:
name1: str = "Kashif"  # create a variable
print(name1)

# hello
# this our data 
# science 
# class 3
# ctrl + ?

Kashif

In [27]:
collection :list[str] = ["hamza", "ali", "ahmed", "hamza"] # mutable
collection[3] = "kashif"
print(collection)
collection.append("Malik") # add in the last of list
print(collection)

['hamza', 'ali', 'ahmed', 'kashif']
['hamza', 'ali', 'ahmed', 'kashif', 'Malik']

# Tuple
- ordered
- indexed
- Immutable
- indentity ()

In [28]:
immutable_collection : tuple[str, int, float,str] = ("hello", 34, 3.14, "world")
print(immutable_collection)
print(type(immutable_collection))

('hello', 34, 3.14, 'world')
<class 'tuple'>

In [30]:
same_type_tuple :tuple[str,...] = ("hello", "world", "python", "java", "c++", "c", "c#")
print(same_type_tuple)
print(type(same_type_tuple))

('hello', 'world', 'python', 'java', 'c++', 'c', 'c#')
<class 'tuple'>

In [34]:
same_type_tuple :tuple[str,...] = ("hello", "world", "python", "java", "c++", "c", "c#")
print(same_type_tuple[0])
# same_type_tuple[0] = "hi" # Error Assignment Error
# same_type_tuple.append("hi") # Attribute Error
print(same_type_tuple)

hello
('hello', 'world', 'python', 'java', 'c++', 'c', 'c#')

In [36]:
ids :list[int] = [1,2,3,4,5]
ids[2] = 8
print(ids)

[1, 2, 8, 4, 5]

In [37]:
ids :tuple[int,...] = (1,2,3,4,5)
ids[2] = 8
print(ids)

TypeError: 'tuple' object does not support item assignment

In [42]:
name :str = input("enter your name")
print(name)
print(type(name))

78.5
<class 'str'>

# function
- () with any name or variable means a function

In [ ]:
num :int = tuple(input("Enter a number"))
print(type(num))
print(num)

<class 'tuple'>
('h', 'e', 'l', 'l', 'o')

# Type Casting

In [47]:
x :int = 6
print(type(x))
x = str(x)
print(type(x))

<class 'int'>
<class 'str'>

# operators
### Unary Operator
- (-)
- not
### Binary Operator


(+ + = +)
(- - = +)
(+ - = -)
(- + = -)

In [59]:
x :int = 8 # positive
print(-x) # negative

-8

In [64]:
y : bool = False
print(y)
print(not y) # reverse or opposite False

False
True

# Binary Operators
1. arithmatic Operator
    - (+)
    - (-)
    - (*)
    - (/)
    - (%)
    - (//)
    - (**)

In [77]:
num1 : int = 5
num2 :int = 4
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 % num2)
print(num1 ** num2) # 5 x 5 x 5 x 5 Exponential
print(num1 // num2) # floor Division
print(9 / 5)
print(9 // 5)

9
1
20
1.25
1
625
1
1.8
1

# Assignment 
- all operators with =

In [ ]:
x :int = 7
x + 2
print(x) # 9

7
9

In [82]:
x :int = 7
x = x + 3
print(x) # 9

10

In [6]:
x :int = 7
x *= 3
print(x)

21

# Comparision Operators
- Alway return boolean True or False
- == ( check both values are same then True )
- != (  check both values are not same then True )
- (>) (  check left values is greater than right value)
- (<)
- (>=)
- (<=)

In [9]:
word1 :str = "hello how are you? this is our data science class 3"
word2 :str = "hello how are you? this is our data science class 3"
print(word1 == word2) # compares values
print(word1 != word2) 
print(word1 > word2)
print(word1 < word2)
print(word1 <= word2)

True
False
False
False
True

In [119]:
print(id("hamza"))
id("hello")

1891814768240

1891810662352

In [11]:
print(chr(988)) # character

Ϝ

In [101]:
num1 : int = 5
num2 :int = 5
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 <= num2)
print(num1 >= num2)

True
False
False
False
True
True

In [129]:
list1 :list[int] = [1,2,3,4]
list2 :list[int] = [1,2,3,4]
print(list1 <= list2)

True

# Logical Operators
- and (all comparisions should be True) 
- or (at least one comparision should be True)

In [12]:
print(5 != 5 and 6 != 7 and 8 > 5 and 4 < 7)
print(False and  True  and  True and  True)

False
False

In [13]:
print(5 == 5 or 6 == 7 or 8 < 5 or 4 > 7)
print(True or  False  or  False or  False)

True
True

In [136]:
data :list[str] = ["hamza", "Kashif", "Malik"]
for i in data:
    print(i=="Malik")

False
False
True

# walrus Operator
- :=
- assign and use variable in single line

In [ ]:
a :int = 87
print(a)

In [15]:
a :int = 50
if a > 60:
    print("Number is large")
else:
    print("number is small")

number is small

In [17]:
if (a := 87) > 60:
    print("number is large")
else:
    print("number is small")

number is large

In [19]:
if 9 > 10:
    print("if block running")
    print("number is greater")
else:
    print("Else block is running")

Else block is running

# Identity Operator
- is
- is not
- check memory location

In [20]:
a : str = "hello"
b :str = "hello"
print(a == b)

True

In [21]:
a : str = "hello"
b :str = "hello"
print(a is b)

True

In [24]:
print(id(a))
print(id(b))

1942884309568
1942884309568

In [27]:
c : int = 90
print(c)

c : int = 89
print(c)

c : int = 85
print(c)

90
89
85

In [32]:
c : int = 90
d :int = 60+39
print(id(c))
print(id(d))
print(c is not d)

140725176127176
140725176127464
True

# Membership Operator
- in 
- not in

In [40]:
sentence :str = input("enter sentence")
print(sentence.upper())
print("hello" in sentence.upper())

HI THIS IS ME HAMZA
False

In [42]:
collection :list[str] = ["mobile", "laptop", "charger"]
print("mobile" not in collection)

False

In [43]:
not :int = 89
print(not)

SyntaxError: invalid syntax (518648474.py, line 1)

In [46]:
import keyword
print(len(keyword.kwlist))
print(keyword.kwlist)

35
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# zipping method
- create multiple variable in a single line

In [55]:
x :int = 9
y :int = 7
z :int = 4
print(x,y,z)

9 7 4

In [57]:
x, y, z, a = 1,2,3,"hi"
print(y)
print(x)
print(z)
print(a)

2
1
3
hi

In [61]:

print(x)
del x
print(x)

9

NameError: name 'x' is not defined

# Chapter 4 String Casting
### create string variable
- 'string'
- "string"
- '''string'''
- """string"""

In [62]:
sent :str = 'today's our 4th class'

SyntaxError: invalid decimal literal (2051725695.py, line 1)

In [66]:
sent :str = """today's 
our 
4th 
class"""
print(sent)

today's
our
4th
class

# Escape characters
- \n new line
- \t tab button
- \b backspace
- (\\)

In [1]:
sent :str = "today's \n\nour sessio\bn\b"
print(sent)

today's

our sessi

In [3]:
sent :str = "the title of the book is "python" book"
print(sent)

SyntaxError: invalid syntax (2875040406.py, line 1)

In [5]:
sent :str = """the book's title is "python" book"""
print(sent)

the book's title is "python" book

In [8]:
sent :str = r"the book's title is\b \n\t\"python\" book"
print(sent)

the book's title is\b \n\t\"python\" book

# Unicode
- start with \u
- 4 digits number

In [13]:
print("\u0678")
chr(65)

ٸ

'A'

# String concatination

In [103]:
a :str = "hello"
b :str = "world"
print(a,b)
print(a+b)

hello world
helloworld

# Indexing 
- starts with 0
- assigned to all charcters

In [15]:
a :str = "hello"
print(a[-1])

o

# slicing
-  start , end - 1, steps -1

In [16]:
sent :str = "this is class 4 of data science"
print(sent)
print(sent[19])
print(sent[30])

this is class 4 of data science
d
e

In [23]:
sent :str = "this is class 4 of data science"
print(sent[19:23])
print(sent[:35])
print(sent[8:])
print(sent[8::2])
print(sent[::-4])

data
this is class 4 of data science
class 4 of data science
cas4o aasine
eia 4asi

- indexing starts from 0
- lenght starts from 1

In [136]:
sent :str = "this is class 4 of data science"
print(len(sent))
print(sent.lower())
print(sent.upper())
print(sent.title())

31
this is class 4 of data science
THIS IS CLASS 4 OF DATA SCIENCE
This Is Class 4 Of Data Science

In [24]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
["hello", "h", ]

In [25]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']