In [2]:
name :str = "hamza"
[local_var for local_var in dir(str) if "__" not in local_var]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
name :str = "kashif"

In [4]:
print(name)

kashif

In [7]:
for a in [1,2,3,4,5]:
    print(a)
    print(a)
    print(name)

print(name)

1
1
kashif
2
2
kashif
3
3
kashif
4
4
kashif
5
5
kashif
kashif

In [9]:
sentence :str = "this is class 4 of data science"
print(sentence.index("of"))
print(sentence[16])

16
o

In [21]:
sentence :str = "this is is is class 4 of data science"
print(sentence.count("is"))

4

- split
- strip
- replace
- join

In [ ]:
# print(sentence.find("class"))
sentence = sentence.replace("this","today")
print(sentence)

today is is is class 4 of data science

In [27]:
words :list[str] = ["today", "is", "our", "class"]
sent :str = "89".join(words)
print(sent)
print(type(sent))

today89is89our89class
<class 'str'>

In [34]:
sentence :str = "this is class 4 of data science"
print(sentence.split())
print(sentence.split(maxsplit = 9))

['this', 'is', 'class', '4', 'of', 'data', 'science']
['this', 'is', 'class', '4', 'of', 'data', 'science']

In [42]:
sentence :str = "     this is class 4 of data science        "
print(sentence)
print(sentence.strip())
print(sentence.lstrip())
print(sentence.rstrip())

     this is class 4 of data science
this is class 4 of data science
this is class 4 of data science
     this is class 4 of data science

# formating
- %


| Placeholder | Meaning                              | Example                                |
|-------------|--------------------------------------|----------------------------------------|
| %s          | String                               | "Hello, %s" % "Alice" → "Hello, Alice" |
| %d          | Integer (Decimal)                    | "Age: %d" % 25 → "Age: 25"             |
| %c          | Character                            | "Letter: %c" % 'A' → "Letter: A"       |
| %f          | Floating-point                       | "Pi: %f" % 3.14159 → "Pi: 3.141590"    |
| %.nf        | Floating-point with n decimal places | "%.2f" % 3.14159 → "3.14"              |


- str.format()
- f"hello {}"

In [52]:
name :str = "hamza"
age :int = 20
weight :float = 65.567788
character :str = "A"

output :str = "my name is %s and my age is %d my weight is %f and favourite character %c"%(name,age,weight,character)
result :str = "my name is %s and my age is %d my weight is %.2f and favourite character %c"%(age,character,name,weight)
print(output)
print(result)

TypeError: %d format: a real number is required, not str

In [59]:
name :str = "hamza"
age :int = 20
weight :float = 65.567788
character :str = "A"
result :str = "name : {2} \nage : {3} \nweight : {1} \ncharacter : {0}".format(character,name, age,weight)
print(result)

name : 20
age : 65.567788
weight : hamza
character : A

In [66]:
name :str = "hamza"
age :int = 20
weight :float = 65.567788
character :str = "A"

result :str = f"name : {name}\nAge : {age,name[2:]} \ncharacter : {character}\nweight  : {weight}\ncalculate : {2 + 3 - 8 * 6 + 9}"
print(result)

name : hamza
Age : (20, 'mza')
character : A
weight  : 65.567788
calculate : -34

In [ ]:

name : str = "hamza"
sec_name :str = "hamza"
print(id(name))
print(id(sec_name))
print(name is sec_name)

2335681519056
2335681519056
True

# repitation

In [69]:
import sys
name = sys.intern("hamza")
sec_name = sys.intern("hamza")
print(name is sec_name)

True

In [76]:
word :str = "hello"
print(word+word+word+word)
print(word*4)
print("*" * 40)

hellohellohellohello
hellohellohellohello
****************************************

In [ ]:
for a in range(10):
    print("*" * a)

*
**
***
****
*****
******
*******
********
*********

# Type Casting
- Implicit Type Casting  done by python
- Explicit Type Casting   by us

In [ ]:
number : int = input("enter a number")
print(number - 2)
print(type(number))

TypeError: unsupported operand type(s) for -: 'str' and 'int'

- int()
- str()
- list()
- float()
- complex()
- tuple()
- dict()
- bool()

In [110]:
number :int = int(input("enter a number"))
print(number / 2)
print(type(number))

ValueError: invalid literal for int() with base 10: '[12,23,67]'

In [6]:
run_count : int = 10
while run_count > 0:
  if run_count == 5:
    continue
  print(run_count)
  run_count -= 1

print("last value", run_count)

10
9
8
7
6

KeyboardInterrupt: